h1 {
	font-weight: 400;
	font-size: 46px;
	line-height: 55.2px;
	color: black;
}

.h1-black {
	font-weight: 900;
	font-size: 46px;
	line-height: 55.2px;
	color: var(--color-purple);
}

.main-paragraph {
	.heading-sec {
		padding-left: 10%;
		letter-spacing: 0.001em; // need space between f and i
	}
}

.oeb-main {
	&__image {
		object-fit: contain;
		object-position: bottom center;
		margin-bottom: 4px;
	}
}

.oeb-card {
	$c: &;
	border: 1px solid var(--color-purple);
	border-radius: 10px;
	overflow: hidden;

	&__image {
		background-color: var(--color-lightgray);
		aspect-ratio: 1.5;

		img {
			height: 100%;
			object-fit: contain;
			object-position: bottom center;
		}
	}

	&__content-wrap {
		color: var(--color-black);
		padding: 24px;
		display: flex;
		gap: 4px;

		ng-icon {
			width: 23px;
			display: flex;
			color: var(--color-link);
		}

		#{$c}__content {
			flex: 1;

			h2 {
				font-size: 22px;
				line-height: 1.2em;
				font-weight: 600;
				margin-bottom: 4px;
				margin-top: -2px;
			}
			> div {
				font-size: 18px;
				font-weight: 400;
				line-height: 1.3em;
			}
		}
	}
}

.oeb-tags {
	display: flex;
	gap: 12px;
	li {
		border: 1px solid var(--color-darkgray);
		padding: 4px 12px;
		border-radius: 24px;
	}
}
