<div class="tw-flex tw-flex-wrap tw-items-center tw-rounded-lg tw-p-4 tw-bg-lightgreen tw-mb-4 tw-gap-4">
	<div class="tw-flex tw-relative tw-items-center">
		<input
			type="text"
			[value]="keyword"
			(input)="onKeywordInput($event)"
			[placeholder]="'BadgeFilter.keywordPlaceholder' | translate"
			[attr.aria-label]="'BadgeFilter.keywordPlaceholder' | translate"
			class="!tw-bg-white tw-w-full min-[880px]:tw-w-96 tw-border-1 tw-border-purple tw-border-solid tw-h-12 tw-rounded-lg tw-p-2 tw-pr-10"
			hlmInput
			data-testid="keyword-input"
		/>
		<ng-icon
			hlm
			name="lucideSearch"
			class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-pointer-events-none tw-text-purple"
		></ng-icon>
	</div>

	<div class="tw-flex tw-relative tw-items-center">
		<input
			#fromDateInput
			[type]="fromInputType"
			[value]="fromDate"
			[attr.max]="today"
			[placeholder]="'BadgeFilter.fromLabel' | translate"
			[attr.aria-label]="'BadgeFilter.fromLabel' | translate"
			(focus)="fromInputType = 'date'"
			(blur)="fromInputType = fromDate ? 'date' : 'text'"
			(change)="onFromDateChange($event)"
			class="!tw-bg-white tw-w-44 tw-border-1 tw-border-purple tw-border-solid tw-h-12 tw-rounded-lg tw-p-2 tw-pr-10"
			hlmInput
			data-testid="from-date"
		/>
		<ng-icon
			hlm
			name="lucideCalendar"
			class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-text-purple tw-cursor-pointer"
			(click)="openDatePicker(fromDateInput, 'from')"
		></ng-icon>
	</div>

	<div class="tw-flex tw-relative tw-items-center">
		<input
			#toDateInput
			[type]="toInputType"
			[value]="toDate"
			[attr.min]="fromDate || null"
			[attr.max]="today"
			[placeholder]="'BadgeFilter.toLabel' | translate"
			[attr.aria-label]="'BadgeFilter.toLabel' | translate"
			(focus)="toInputType = 'date'"
			(blur)="toInputType = toDate ? 'date' : 'text'"
			(change)="onToDateChange($event)"
			class="!tw-bg-white tw-w-44 tw-border-1 tw-border-purple tw-border-solid tw-h-12 tw-rounded-lg tw-p-2 tw-pr-10"
			hlmInput
			data-testid="to-date"
		/>
		<ng-icon
			hlm
			name="lucideCalendar"
			class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-text-purple tw-cursor-pointer"
			(click)="openDatePicker(toDateInput, 'to')"
		></ng-icon>
	</div>

	<oeb-button
		variant="secondary"
		size="sm"
		[text]="'BadgeFilter.resetButton' | translate"
		(click)="reset()"
		data-testid="reset-button"
	></oeb-button>
</div>
