ul {
	list-style-position: inside;
	li {
		list-style-type: initial;
		margin-left: 8px;
	}
}

::ng-deep {
	oeb-select {
		label {
			display: block;
		}

		> * {
			max-width: 217px !important;
			opacity: 0.5;
		}
	}

	oeb-input[fieldType="textarea"] {
		textarea {
			min-height: 280px;
		}
	}
}
