<div class="oeb tw-px-10 tw-pb-10 tw-pt-[75px]">
	<div class="dialog-x-box o-container">
		@if (page === 'start') {
			@if (nextLevel()) {
				<hlm-dialog-header>
					<h2 hlmH2 class="oeb !tw-text-oebblack tw-uppercase tw-font-black">
						Entdecke die nächste Stufe mit OEB!
					</h2>
				</hlm-dialog-header>

				<div class="category u-margin-top2x warning">
					<div class="tw-flex tw-gap-8 tw-p-8">
						<div>
							<figure>
								<img src="/assets/oeb/images/quotas/logo_pro.svg" width="152" />
								<figcaption class="tw-text-center tw-pr-3 tw-w-[152px]">
									<h3 class="tw-text-yellow tw-font-bold tw-text-[18px]/[1.2em] tw-mt-2">
										{{ nextLevel() }}
									</h3>
									<p class="tw-font-semibold tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2">
										{{ nextPrice() }}€ / Jahr
									</p>
									<!-- <small class="tw-block tw-text-center tw-italic tw-text-darkgrey"
										>12 Monate Laufzeit, Zahlung monatlich oder jährlich
									</small> -->
								</figcaption>
							</figure>
						</div>
						<div>
							<h2 class="tw-mb-8 tw-text-[22px]/[1.2em] tw-font-semibold">
								Dafür ist ein Upgrade auf unser <em>{{ nextLevel() }}-Paket</em> erforderlich.
							</h2>
							@if (nextQuotas()) {
								<div class="tw-mb-8">
									<h3 class="tw-underline tw-text-[18px]/[1.2em] tw-mb-2 tw-font-bold">
										Deine neuen Vorteile im damit:
									</h3>
									<ul>
										<li>bis zu {{ nextQuotas().BADGE_CREATE }} verschiedene Badge erstellen</li>
										<li>
											bis zu {{ nextQuotas().LEARNINGPATH_CREATE }} Lernpfade (Micro Degrees)
											erstellen
										</li>
										<li>bis zu {{ nextQuotas().BADGE_AWARD }} Badges vergeben</li>
										<li>{{ nextQuotas().ACCOUNTS_ADMIN }} Admin-Accounts</li>
										<li>{{ nextQuotas().ACCOUNTS_MEMBER }} Mitarbeitenden-Accounts</li>
										<li>
											Badge-KI-Assistent: {{ nextQuotas().AISKILLS_REQUESTS }} Anfragen pro Monat
										</li>
										@if (nextQuotas().PDFEDITOR) {
											<li>Individuelles Branding der PDF-Zertifikate</li>
										}
									</ul>
								</div>
							}
							<p class="tw-mb-8">
								<a
									class="tw-text-right tw-text-link tw-underline tw-mt-6"
									target="_blank"
									[href]="this.translate.currentLang === 'de' ? '/page/produkte' : '/page/pricing'"
									>{{ 'Quotas.FeatureListPlanComparison' | translate }}</a
								>
							</p>
							<div class="tw-flex tw-flex-col tw-gap-4">
								<oeb-button
									text="Upgrade anfragen"
									width="full_width"
									(click)="changePage('upgrade')"
								/>
								<p class="tw-text-center tw-italic">Oder</p>
								<oeb-button
									variant="secondary"
									width="full_width"
									text="Individuelles Angebot anfragen"
									(click)="changePage('individual')"
								/>
							</div>
						</div>
					</div>
				</div>
			} @else {
				<hlm-dialog-header>
					<h2 hlmH2 class="oeb !tw-text-oebblack tw-uppercase tw-font-black">
						Obergrenze erreicht
					</h2>
				</hlm-dialog-header>

				<div class="category u-margin-top2x warning tw-text-center tw-p-8">
					<div class="tw-p-8">
						<p class="tw-font-bold">
							Du hast für dieses Feature die Obergrenze des gebuchten Leistungsumfangs erreicht.
						</p>
						<p class="tw-italic tw-text-purple">Schreibe uns, wenn du upgraden möchtest.</p>
					</div>
					<div class="tw-flex tw-justify-center tw-gap-2">
						<oeb-button size="sm" text="Abbrechen" variant="secondary" (click)="closeDialog()" />
						<oeb-button size="sm" text="E-Mail an OEB schreiben" (click)="closeDialog()" />
					</div>
				</div>
			}
		}
		@if (page === 'upgrade') {
			<hlm-dialog-header>
				<h2 hlmH2 class="oeb !tw-text-oebblack tw-uppercase tw-font-black">
					{{ 'Quotas.packageFormHeadline' | translate }}
				</h2>
			</hlm-dialog-header>

			<div class="tw-mt-8">
				<form class="tw-w-full" [formGroup]="upgradeRequestForm.rawControl" (ngSubmit)="onSubmitPackage()" novalidate>
					<oeb-input
						[label]="'Quotas.packageFormNameFieldLabel' | translate"
						[control]="upgradeRequestForm.rawControlMap.name"
						[readonly]="true"
						[noTopMargin]="true"
					></oeb-input>

					<oeb-input
						class="tw-block tw-pt-1"
						[label]="'Quotas.packageFormEmailFieldLabel' | translate"
						[control]="upgradeRequestForm.rawControlMap.email"
						[readonly]="true"
					></oeb-input>

					<oeb-select
						class="tw-block tw-pt-1"
						[label]="'Quotas.packageFormIssuerFieldLabel' | translate"
						[options]="issuerOptions"
						[control]="upgradeRequestForm.rawControlMap.issuer"
						[disabled]="true"
					></oeb-select>

					<div class="tw-mt-7 md:tw-mt-8 tw-mb-7 md:tw-mb-8">
						<label class="tw-block tw-pb-[2px] tw-pl-[3px]">
							<span class="tw-text-oebblack tw-font-semibold md:tw-leading-[28px] md:tw-text-[20px] tw-leading-[19px] tw-text-[14px]">
								{{ 'Quotas.packageFormOptionsLabel' | translate }}
							</span>
						</label>

						<div class="tw-mt-6">
							@for (package of packageOptions; track package; let last = $last) {
								<bg-formfield-radio
									class="tw-mt-4"
									[control]="upgradeRequestForm.rawControlMap.package"
									name="package"
									label="{{ package.label | translate }}"
									[value]="package.value"
									[last]="last"
									errorMessage="{{ 'Quotas.packageFormOptionsError' | translate }}"
								></bg-formfield-radio>
							}
						</div>
					</div>

					<oeb-button
						type="submit"
						[text]="'Quotas.packageFormSubmitLabel' | translate"
						[disabled]="upgradeRequestForm.invalid"
						width="full_width"
					>
						{{ 'Quotas.packageFormSubmitLabel' | translate }}
					</oeb-button>
				</form>
			</div>
		}
		@if (page === 'individual') {
			<hlm-dialog-header>
				<h2 hlmH2 class="oeb !tw-text-oebblack tw-uppercase tw-font-black">
					{{ 'Quotas.individualFormHeadline' | translate }}
				</h2>
			</hlm-dialog-header>

			<p class="tw-text-oebblack tw-text-[18px] tw-leading-[130%] tw-mt-7 md:tw-mt-8">
				<span class="tw-italic">Bei individuellen Anfragen erhältst du zunächst ein verbindliches Angebot.</span><br>
				<span class="tw-italic">Nach deiner Zustimmung aktivieren wir OEB und senden dir die Rechnung.</span><br>
				<span class="tw-font-bold tw-text-purple">Buche gerne auch einen Call mit uns, um dein Anliegen zu besprechen:</span><br>
				<a class="tw-italic">Call buchen</a>
			</p>

			<div class="tw-mt-8">
				<form class="tw-w-full" [formGroup]="individualRequestForm.rawControl" (ngSubmit)="onSubmitIndividual()" novalidate>
					<oeb-input
						[label]="'Quotas.packageFormNameFieldLabel' | translate"
						[control]="upgradeRequestForm.rawControlMap.name"
						[readonly]="true"
						[noTopMargin]="true"
					></oeb-input>

					<oeb-input
						class="tw-block tw-pt-1"
						[label]="'Quotas.packageFormEmailFieldLabel' | translate"
						[control]="upgradeRequestForm.rawControlMap.email"
						[readonly]="true"
					></oeb-input>

					<oeb-select
						class="tw-block tw-pt-1"
						[label]="'Quotas.packageFormIssuerFieldLabel' | translate"
						[options]="issuerOptions"
						[control]="upgradeRequestForm.rawControlMap.issuer"
						[disabled]="true"
					></oeb-select>

					<div class="tw-mt-7 md:tw-mt-8 tw-mb-7 md:tw-mb-8">

					</div>

					<oeb-button
						type="submit"
						[text]="'Quotas.packageFormSubmitLabel' | translate"
						[disabled]="upgradeRequestForm.invalid"
						width="full_width"
					>
						{{ 'Quotas.packageFormSubmitLabel' | translate }}
					</oeb-button>
				</form>
			</div>
		}
	</div>
</div>
